<ul>
	<li>{{#link-to 'bar-chart'}}Bar Chart{{/link-to}}</li>
	<li>{{#link-to 'polar-clock'}}Polar Clock{{/link-to}}</li>
	<li>{{#link-to 'seahawks'}}Seahawks Record{{/link-to}}</li>
	<li>{{#link-to 'pie-chart'}}Pie Chart{{/link-to}}</li>
</ul>